# Data directories
infra/minio-data
infra/tempo-data

# IDEs
.vscode/
.idea/
*.iws
*.iml
*.ipr
.antigravitycli/

# OS metadata
.DS_Store
backend/.DS_Store
Thumbs.db

# Build and Temp
dist/
build/
.gradle/
services/gateway-service/.gradle/
services/gateway-service/build/
out/
tmp/
*.log

# Project specific

.env
.env.*.local
secrets/
*.secret
*.secrets
keycloak/export/
infra/keycloak/certs/
*.pem
**/.venv/
**/__pycache__/
*.py[cod]
*.egg-info/
*$py.class
