<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>

    <springProperty scope="context" name="lokiUrl" source="loki.url" defaultValue="http://localhost:3100/loki/api/v1/push"/>
    <springProperty scope="context" name="appName" source="spring.application.name" defaultValue="UNKNOWN-APP"/>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %5p ${appName} traceId=%X{traceId:-} spanId=%X{spanId:-} --- [%15.15t] %-40.40logger{39} : %m%n</pattern>
        </encoder>
    </appender>

    <appender name="LOKI" class="com.github.loki4j.logback.Loki4jAppender">
        <http>
            <url>${lokiUrl}</url>
        </http>

        <labels>
            app=${appName}
            host=${HOSTNAME:-localhost}
        </labels>

        <message>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %5p ${appName} traceId=%X{traceId:-} spanId=%X{spanId:-} --- [%15.15t] %-40.40logger{39} : %m%n</pattern>
        </message>

        <batch>
            <timeoutMs>3000</timeoutMs>
        </batch>
    </appender>

    <logger name="org.zalando.logbook" level="TRACE" additivity="false">
        <appender-ref ref="LOKI"/>
        <appender-ref ref="CONSOLE"/>
    </logger>

    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="LOKI"/>
    </root>
</configuration>