:host ::ng-deep .p-tag.p-tag-success {
  background-color: #1f8a4d !important;
  color: #ffffff !important;
}

:host-context(.app-dark-mode) ::ng-deep .p-tag.p-tag-success {
  background-color: #2b9c5f !important;
}
